.container {
  height: 50%;
  .input {
    width: 163px;
  }
  .icon {
    vertical-align: middle;
    font-size: 36px;
    cursor: pointer;
  }
}
.form {
  .formItem {
    display: flex;
    display: -webkit-flex;
    margin-bottom: 10px;
    .text {
      width: 120px;
      height: 35px;
      line-height: 35px;
      text-align: right;
      padding: 0px 20px;
    }
    .inputContainer {
      flex: 1px;
      .lectureTypeSelect {
        width: 100%;
      }
      .payment {
        width: 100%;
      }
      .lectureValidDatePicker {
        width: 100%;
      }
      .lectureAddBtn {
        width: 100%;
      }
      .lectureTimeContainer {
        margin-bottom: 5px;
        .daySelect {
          width: 20%;
          margin-right: 5px;
        }
        .timeInput {
          width: 30%;
          margin-right: 5px;
        }
        .minusIcon {
          cursor: pointer;
          font-size: 16px;
          &:hover {
            color: red;
          }
        }
      }
    }
  }
}
.subjectSelect {
  width: 20% !important;
}
.lectureName {
  width: 80% !important;
}        
