@import '~@utils/color.scss';

.container {
}
.tableContainer {
  border-radius: 5px 5px 0px 0px;
  border: 1px solid #dddddd;
  margin-bottom: 15px;
  & > div:first-child {
    background-color: #dddddd;
    border-radius: inherit;
    & > div {
      border: none;
    }
  }
  & > div:last-child > div:last-child {
    border: none;
  }
}
.paginationContainer {
  height: 30px;
}
.ul {
  list-style:none;
  margin: 0px;
  padding: 0px;
  height: 30px;
  box-sizing: border-box;
  float: right;
  & > li {
    margin: 0px;
    padding: 0px;
    border : 0px;
    float: left;
    height: 100%;
    margin: 0px 2px;
  }
  & button {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #dddddd;
    text-align: center;
  }
}